@font-face {
    font-family: "Helvetica Bold";
    src: url("fonts/Helvetica Bold.ttf");
}
@font-face {
    font-family: "Avenir Bold";
    src: url("fonts/AvenirNextLTPro-Bold.otf");
}
@font-face {
    font-family: "Avenir Regular";
    src: url("fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: "Yantra Light";
    src: url("fonts/yantra/yantramanav-light.otf");
}
@font-face {
    font-family: "Yantra Bold";
    src: url("fonts/yantra/yantramanav-bold.otf");
}



* {
    padding: 0;
    margin: 0;
}



/* Header Section */


header {
    padding: 0 0 240px 0;
    width: 100%;
    background: url('../images/banner-principal.jpg');
    background-position: center;
    background-size: cover;
}
header .secundary-banner {
    /* margin-bottom: 50px; */
}
header .secundary-banner img {
    width: 100%;
    max-width: 480px;
}
header .form {
    margin: 60px 95px 35px 100px;
}

header .form .inputs {
    padding: 30px;
    background-color: #f15c22;
    font-family: "Avenir Regular";
}

header .form .inputs label {
    margin-bottom: 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
header .form .inputs input::placeholder,header .form .inputs select {
    color: #f15c22;
    text-transform: uppercase
}
header .form .button-container {
    background-color: #15103E;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
header .form .button-container button {
    width: 100%;
    font-size: 45px;
    padding-top: 17px;
    padding-bottom: 15px;
    font-weight: bolder;
    font-family: "Avenir Bold";
    text-transform: uppercase;
    color: #fff;
    background-color: #15103E;
    border: none;
    border: 1px solid #fff;
    letter-spacing: 6px;
}


/* Main Content  */
section.main .container .img-title img {
    width: 100%;
    max-width: 380px;
}

section.main .container .resources .resource-item {
    padding: 35px;
}


section.main .container .row h4{
    font-family: "Helvetica Bold";
    color: #f15c22;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    min-height: 59px;
}
section.main .container .resources .resource-item .captions {
    margin-top: 30px;
}
section.main .container .resources .resource-item .captions p {
    text-align: center;
    font-family: "Avenir Regular";
    height: 100%;
    min-height: 80px;
    border-top: 1px solid #f15c22;
    border-bottom: 1px solid #f15c22;
    padding: 5px;
    font-weight: bolder;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: #15103E;
}
footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;    
}

footer .container .message {

    padding: 55px 30px;
    border-right: 1px solid #fff;
}
footer .container .message h2 {
    text-transform: uppercase;
    text-align: right;
}
footer .container .message p {
    text-transform: uppercase;
    text-align: right;
}
footer .container .contact {
    padding: 55px 30px;
}
footer .container .contact .social-links {
    display: flex;
    padding-left: 35px;
    flex-direction: column;
    justify-content: center;
}
footer .container .contact .social-links a {
    margin: 5px;
    color: #fff;
    transition: all .3s ease;
}
footer .container .contact .social-links a:hover {
    text-decoration: none;
    color: #f15c22;

}

footer .container .contact .social-links a .fa {
    color: #15103E;
    background-color: #f15c22;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #f15c22;
    padding: 0.5em 0.6em;
}

@media (max-width: 1300px) {
    header .form .button-container button {
        font-size: 30px;
    }
}
@media (max-width: 1084px) {
    header .form {
        margin: 100px 50px 35px 50px;
    }
}

@media (max-width: 876px) {
    header .form {
        margin: 100px 0px 35px 0px;
    }
}
@media (max-width: 767px) {
    header .form {
        margin: 100px 50px 35px 45px;
    }
    footer .container .message h2 {
        text-align: center;
    }
    footer .container .message p {
        text-align: center;
    }
    footer .container .message {
        border:none;
        padding-bottom: 0;
    }
    
    footer .container .social-links {
        text-align:center;
    }
    footer .container .contact {
        padding: 30px 30px;
    }
    footer .container .social-links {
        margin-bottom: 15px;
    }
}

@media (max-width: 457px) {
    header {
        background: #15103E;
    }
    header .form {
        margin: 100px 10px 15px 10px;
    }
    header .secundary-banner {
        margin-bottom: 0px;
    }
    header .form .button-container button {
        border-radius: 5px;
        padding: 50px 0;
        font-size:25px;
    }
}